name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"

      - run: bun install --frozen-lockfile

      - uses: biomejs/setup-biome@v2

      - name: Lint
        run: biome ci

      - name: Test
        run: bun test